/*----------- EX 1 ----------*/
.ex1 {

}

.ex1 > .box1, .ex1 > .box4 {
    
} 

/*----------- EX 2 ----------*/
.ex2 {

}

.ex2 > .box1 {

}


.ex2 > .box2 {

}

.ex2 > .box3 {

}

.ex2 > .box4 {

}

.ex2 > .box5 {

}
