h1{
    font-family: monospace;
}

h1:first-of-type{
    letter-spacing: unset; color: turquoise;
}

h1 + h1{
    letter-spacing: -0.2rem; color: turquoise;
}

h1:last-of-type{
    letter-spacing: 0.25rem; color: turquoise;
}