div {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: tomato;
    border-radius: 100rem 100rem 100rem 100rem;
    width: 6rem;
    height: 5rem;
}