/*----------- EX 1 ----------*/
.ex1 {
    display: grid;
    height: 300px;
    gap: 20px;
    grid-template-areas:
    ". . . . . . . ."
    ". . . . . . . ."
    ". . a a b b . ."
    ". . c c d d . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ; 
}

.ex1 > .box1{
    grid-area: a;
}
.ex1 > .box2{
    grid-area: b;
}
.ex1 > .box3{
    grid-area: c;
}
.ex1 > .box4{
    grid-area: d;
}
/*----------- EX 2 ----------*/
.ex2 {
    display: grid;
    height: 300px;
    gap: 30px;
    grid-template-areas:
    "a a . . . . . . b b"
    "c c . . . . . . d d"
    "e e . . . . . . f f"
    ; 
}

.ex2 > .box1{
    grid-area: a;
}
.ex2 > .box2{
    grid-area: b;
}
.ex2 > .box3{
    grid-area: c;
}
.ex2 > .box4{
    grid-area: d;
}
.ex2 > .box5{
    grid-area: e;
}
.ex2 > .box6{
    grid-area: f;
}

/*----------- EX 3 ----------*/
.ex3 {
    display: grid;
    height: 300px;
    gap: 15px;
    grid-template-areas:
    ". . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . ."
    ". . . . . . . . . . . a a b b"
    ". . . . . . . . . . . c c d d"
    ". . . . . . . . . . . e e f f"
    ; 
}

.ex3 > .box1{
    grid-area: a;
}
.ex3 > .box2{
    grid-area: b;
}
.ex3 > .box3{
    grid-area: c;
}
.ex3 > .box4{
    grid-area: d;
}
.ex3 > .box5{
    grid-area: e;
}
.ex3 > .box6{
    grid-area: f;
}
/*Complete