/*----------- EX 1 ----------*/
.ex1 {
    display: flex;

}

/*----------- EX 2 ----------*/
.ex2 {
    display: flex;
    
}

/*----------- EX 3 ----------*/
.ex3 {
    display: flex;
    
}

/*----------- EX 4 ----------*/
.ex4 {
    display: flex;
    
}

/*----------- EX 5 ----------*/
.ex5 {
    display: flex;
    
}
