div.ring{
    display: grid;
    justify-content: center;
    align-content: center;

    border: solid yellow 20px;
    border-radius: 15rem;
    width: 20rem;
    height: 20rem;
}

body {
    background: rgb(26, 52, 70);
    
    display: grid;
    justify-content: center;
    align-content: center;
    
    min-height: 100vh;
    margin: 0;
    
}