ol + li {
    color: royalblue;
}

ol:first-of-type{
    color: royalblue;
    font-weight: bold;
}

ul{
    color: orange;
    list-style-type: square;
    margin-bottom: 1em;
    font-weight: normal;
}
